div.outer {
  display: flex;
  flex-direction: row;
}
  div.outer div {
    width: 400px;
    height: 400px;
  }
div.glyphs {
  overflow: auto;
}
div.textboxwrap {
  position: relative;
  flex-shrink: 0;
}
textarea {
  background: #a0ffff;
  width: 400px;
  height: 400px;
}
canvas {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  background: white;
  box-sizing: border-box;
}
canvas:focus {
  border-width: 2px;
  background: pink;
}
img {
  display: none;
}
p.g {
  display: inline-block;
  margin: 0;
}
p.g:hover {
  outline: 1px solid red;
}
