.outer {
  margin: 8px;
}
div.row {
  display: flex;
  flex-direction: row;
}
div.col {
  display: flex;
  flex-direction: column;
}
div.glyphs {
  overflow: auto;
  flex-grow: 0;
  height: 400px;
  width: 400px;
  border: 1px solid black;
}
button.tab {
  padding: 8px;
  border-radius: 4px 4px 0 0;
  border: 2px outset grey;
  border-bottom: 1px solid black;
  margin: 0 4px -1px 4px;
  z-index: 1;
}
button.tab.selected {
  border-style: solid;
  background: white;
  border-bottom: 1px hidden black;
}
img.g {
  object-fit: none;
  margin: 0;
}
p.g {
  font-size: 0;
  margin: 0;
  display: inline-block;
}
.g:hover {
  outline: 1px solid red;
}
text-editor {
  height: 400px;
  width: 400px;
  border: 0;
  padding: 4px 8px;
}
text-editor:focus {
  outline: 0;
}